@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Pretendard";
  }
}

@font-face {
  font-family: "Samsung400";
  font-style: normal;
  font-weight: normal;
  src: local("SamsungOne 400"), url("SamsungOne-400.woff") format("woff");
}

@font-face {
  font-family: "Samsung700";
  font-weight: normal;
  src: local("SamsungOne 700"), url("SamsungOne-700.woff") format("woff");
}

@font-face {
  font-family: "SamsungSharp";
  font-style: normal;
  font-weight: normal;
  src: local("Samsung Sharp Sans Bold"),
    url("SamsungSharpSans-Bold.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff")
    format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff")
    format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff")
    format("woff");
  font-weight: 800;
  font-style: normal;
}

@layer components {
  .scrollbar-custom {
    /* Firefox용 스크롤바 스타일 */
    scrollbar-width: thin;
    scrollbar-color: #c6cef7 transparent; /* 트랙 부분을 투명하게 설정 */
  }

  /* Webkit(Chrome, Safari 등)용 스크롤바 스타일 */
  .scrollbar-custom::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .scrollbar-custom::-webkit-scrollbar-track {
    background: transparent; /* 트랙 배경을 투명하게 설정 */
    border-radius: 8px;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    background: #c6cef7;
    border-radius: 8px;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background: #c6cef7;
  }

  /* 다크 모드 대응 */
  .dark .scrollbar-custom::-webkit-scrollbar-track {
    background: transparent;
  }

  .dark .scrollbar-custom::-webkit-scrollbar-thumb {
    background: #c6cef7;
  }

  .dark .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background: #c6cef7;
  }
}
